ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow:hidden;
  background-color: rgb(225, 188, 55);
}
li {
  float: right;
  display: flex;
}
li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 22px;
  font-weight: 20px;
}
li a:hover {
  background-color: rgb(95, 167, 18);
}