.nav{
  height:300px;
   
  /* width: 30px; */
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow:hidden;
  background-color: rgb(43, 16, 113);
  height:100px;
}
li {
  float: right;
  display: flex;
}
li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 25px;
  font-weight: 20px;
}
li a:hover {
  background-color:rgb(40, 20, 89);
}
blog-heading{
  margin:0px;
  padding:0px;
  font-family:poppins;
  background-color:rgb(238, 133, 242);
  box-sizing: border-box;
}
a{
  text-decoration: none;
}
blog-heading ul{
  list-style:none;
}
section{
  margin:0px;
  padding:0px;
  font-family: poppins;
}
#blog{
  display:flex;
  justify-content: center;
  align-items:center;
  flex-direction: column;
  padding:40px;
  border-bottom:1px solid rgb(62, 12, 148);
}
.blog-heading{
  display:flex;
  justify-content: center;
  align-items:center;
  flex-direction: column;
}
.blog-heading h2{
  font-size: 1.8rem;
  color:lightseagreen;
  font-weight:700;
}
.blog-container{
  display:flex;
  justify-content:center;
  align-items: center;
  margin:20px 0px;
  flex-wrap: wrap;
  }
.blog-box{
  width:200px;
  background-color:rgb(81, 30, 140);
  border:5px solid blue;
  margin:0px;
  display:flex;
}
.blog-img{
  width: 200px;
  height: 200px;
  object-fit: cover;
  object-position: center;
}
.blog-text{
  width:350px;
  padding:30px;
  display:flex;
  flex-direction:column;
}
.blog-text span{
  color:red;
  font-size:0.9rem;
}
.blog-text .blog-title{
  font-size:1.3rem;
  font-weight:500;
  color:rgb(30, 13, 125);
}
.blog-text .blog-title:hover{
  color:red;
  transition: all ease 0.3s;
}
.blog-text p{
  color:black;
  font-size:0.9rem;
  display:-webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow:ellipsis;
  margin:20px 0px;
}
.blog-text a{
  color:black;
  transition: all ease 0.3; 
}
@media(max-width:1250px){
  .blog-box{
    width:300px;
   }
}
@media(max-width:1100px){
  .blog-box{
    width:70%;
  }
}
@media(max-width:550px){
  blog box{
    margin : 20px 10px;
    width:100%;
}
#blog{
  padding:20px;
}
}


